[Desktop Entry]
Name=Simple Scan
Comment=Scan Documents
Exec=simple-scan
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Graphics;Scanning;
